<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en-GB">-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills Page</title>
    <link th:replace="~{fragments/header :: bootstrap-css}" />
    <link rel="stylesheet" th:href="@{/stylesheet/rights.css}">
    <link rel="stylesheet" th:href="@{/stylesheet/FAQpage.css}">
    <script th:src="@{/JavaScript/FAQpage.js}"></script>
</head>
<body>
    <header th:replace="~{fragments/header}"></header>
    <h1 th:text = "${rights.getTitle()}"></h1>
    <p id="titleDescription" th:text = "${rights.getDescription()}"></p>
    <div class="button-container">
        <a th:href="@{/addNewPolicy/{title_id}(title_id=${rights.getTitleId()})}">
            <button id="learnMore">Add New Policy</button>
        </a>
    </div>
    <br><br>
    <div th:each="subright:${rights.getSubTitle()}">
        <div class="button-container">
            <a th:href="@{/editNewPolicy/{sub_title_id}(sub_title_id=${subright.getSubTitleId()})}">
                <button>Edit</button>
            </a>
            <a th:href="@{/deletePolicy/{id}(id=${subright.getSubTitleId()})}">
                <button>Delete</button>
            </a>
        </div>
        <h2 th:text="${subright.getSubTitle()}"></h2>
        <p id="subtitleDescription" class="bullet" th:utext="${subright.getDescription()}"></p>
    </div>

    <section id="faq_section" class="faq_section">
        <div class="title-area">
            <h1>Frequently Asked Questions (FAQs)</h1>
            <img src="/images/Qmark.jpg" alt="red question mark" class="title-img" >
        </div>
        <ul th:each="que:${rights.getQue()}">
            <li>
                <div class="question" >
                    <span th:text="${que.getQue()}"></span>
                    <span class="icon"><ion-icon name="chevron-forward-outline"></ion-icon></span>
                </div>
                <div class="answer">
                    <span th:utext="${que.getAnswer()}"></span>
                </div>
            </li>
        </ul>
    </section>
    <div th:replace="~{fragments/footer :: bootstrap-js}"></div>
    <footer th:replace="~{fragments/footer}"></footer>

</body>

</html>
