<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-GB">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Page</title>
    <link th:replace="~{fragments/header :: bootstrap-css}" />
    <link rel="stylesheet" th:href="@{/stylesheet/newsPage.css}">
</head>
<body>
<header th:replace="~{fragments/header}"></header>
<section class="news-grid">
    <div class="news-item" th:each="news : ${newsList}">
        <a th:href="${news.link}">
            <h2 th:text="${news.title}"></h2>
            <img th:src="${news.imgUrl}" th:alt="${news.imgUrl}">
            <p th:text="${news.content}"></p>
            <p th:text="${news.date}"></p>
        </a>
    </div>
</section>
<div th:replace="~{fragments/footer :: bootstrap-js}"></div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
