<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheet/healthPage.css"/>
    <link th:replace="~{fragments/header :: bootstrap-css}" />
    <title>Social Connections section</title>
</head>
<body>
<header th:replace="~{fragments/header}"></header>
<section class="top_sec">
    <h1 class="title">Social Connections Information</h1>
        <div class="intro_para">
            <p>This page is here to provide you with vital information about the building of social connections.
                Building these connections and fostering a sense of belonging is an important component of integration.
                It ensures everyone is able to meet and share ideas that can will promote social cohesion and reduce social isolation.
                we aim to provide useful information and resources to help make the transition to a new environment safer, smoother,
                and more welcoming for all.</p>
        </div>
                <a href="https://www.gov.wales/migrant-integration-framework-html#135680" target="_blank">
                    <button class="web_link">Click here for more info from the GOV website</button>
                </a>
</section>










<div th:replace="~{fragments/footer :: bootstrap-js}"></div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>