body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}



.container {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
    color: #333;
    font-family: "Times New Roman", serif;
}

.housing-info {
    text-align: center;
}

.housing-info h1 {
    font-size: 2.3rem;
    margin-bottom: 1rem;
    color: #d50032 !important;
    font-family: "Times New Roman", serif;
    font-weight: bolder;

}

.housing-info p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    font-family: "Times New Roman", serif;
}

.housing-info .btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    background-color: #d3003f;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: none;
}

.housing-info .btn:hover {
    background-color: #a9002c;
}

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100px;
    align-items: center;
}

.form-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #d50032;
    font-family: "Times New Roman", serif;
}

.form-container .btn {
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    background-color: #d3003f;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: none;
    margin: 5px;
}

.form-container .btn:hover {
    background-color: #a9002c;
}

.container h2 {
    color: #af0b04;
    font-size: 24px;
    margin-bottom: 15px;
}
.container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container ul li {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.container ul li:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.container ul li strong {
    font-size: 18px;
    color: #555;
}

.container ul li p {
    margin: 10px 0;
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

/*.container ul li a.btn-link {*/
/*    color: #007bff;*/
/*    font-size: 14px;*/
/*    text-decoration: none;*/
/*    transition: color 0.2s;*/
/*}*/

/*.container ul li a.btn-link:hover {*/
/*    color: #0056b3;*/
/*    text-decoration: none;*/
/*}*/
.reply-form {
    margin-top: 15px;
}
/* Responsiveness */
@media (max-width: 768px) {
    .auth-container {
        flex-direction: column;
    }

    .form-box {
        width: 100%;
        max-width: 400px;
    }
}